<div class="row" >
    <div class="col">
        <div style="width: 100%; height: 50%">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div class="col">
        <div style="width: 90%; height: 50%" class="barInfo">
           <h4 class="header" align = "center">Доска 5-ти самых популярный вещей</h4>
           <ul align = "center">
               <li>Актуальные списки самых популярных(выбираемых) товаров</li>
               <li>Вы можете слегкостью опираться на мнение других, если затрудняетесь с выбором</li>
               <li>На доске Вы всегда увидите название товара и сможете легко найти его в поиске</li>
               <li>Вы увидите актуальную уинформацию о кол-ве человек, выбравших товар вместе с Вами</li>
           </ul>
        </div>
    </div>
</div>


